.header {
  font-size: 1em;
}

.input {
  border: none;
  background-color: #ddd;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 1em;
}

button {
  background-color: black;
  color: white;
  outline: none;
  font-size: 1rem;
  margin-top: 4px;
}
