.todo {
  margin-bottom: 15px;
}

.todoItem {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
}

.todoItemCompleted {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  text-decoration: line-through;
}
